.nav-container{
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 110px;
        background-color: white;
        border-radius: 12px;
        border: 2px solid black;
        
        & > * {
            pointer-events: none;
        }


        &:hover{
            background-color: black;
            color: white;
        }

        .icon-music{
            margin: 0 8px 0 8px;
        }

        .nav-title{
            font-size: 1rem;
            font-weight: bold;
        }

    }
}

.library-open{
    background-color: black !important;
    color: white !important;
}