
.slider-container{
    width: 100%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin : 0;
    padding : 0;


    input{

        width: 100%;
        height: 100%;
        // padding: 1rem;   
        appearance: none;
        -webkit-appearance: none;
        background: var(--color-tertiary);
        cursor: pointer;
    }

    .animate-track{
        background: #e0e0e0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        position: absolute;
        top: 0;
        left: 0;

    }
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    height : 16px;
    width: 16px;
    background: none
}

input[type='range']::-moz-range-thumb{
    appearance: none;
    display: none;
    background: none;
    border: none;
}
